<form>
  <h1 class="title">Eat up !</h1>
  <div class="center-screen">
    <div class="card">
      <div class="card-body">
        <div class="mb-3 row d-grid gap-2">
          <label for="exampleInputEmail1" class="label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
          <label for="exampleInputPassword1" class="label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <button type="button" class="btn btn-primary">Log In</button>
          <button type="button" class="btn btn-primary">Join Us</button>
        </div>
      </div>
    </div>
  </div>

</form>
